html,
body,
header,
.view {
  height: 100%;
}

.naruto-background {
  background-image: url(img/naruto-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.index-header {
  color: #ff7b00;
}

@media only screen and (max-width: 600px) {
  .index-header {
    display: none;
  }
}
