/* global */

html,
body,
header,
.view {
  height: 100%;
}

.navbar {
  background-color: black;
}

.naruto-background {
  background-image: url(img/naruto-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* index page */

.index-header {
  color: #ff7b00;
}

/* trivia page */

.hover:hover {
  cursor: pointer;
}
